
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.ic\:outline-unpublished:before {
content: "\e001";
}

.i.ic\:round-history:before {
content: "\e002";
}

.i.ic\:round-person:before {
content: "\e003";
}

.i.ion\:ios-navigate:before {
content: "\e004";
}

.i.material-symbols-light\:house:before {
  content: "\e005";
}

.i.material-symbols-light\:kid-star:before {
  content: "\e006";
}

.i.material-symbols-light\:shopping-cart:before {
  content: "\e007";
}

.i.material-symbols\:add-circle:before {
  content: "\e008";
}

.i.material-symbols\:arrow-back-ios-new-rounded:before {
  content: "\e009";
}

.i.material-symbols\:arrow-drop-down:before {
  content: "\e00a";
}

.i.material-symbols\:arrow-forward-ios:before {
  content: "\e00b";
}

.i.material-symbols\:check-circle-rounded:before {
  content: "\e00c";
}

.i.material-symbols\:filter-alt-sharp:before {
  content: "\e00d";
}

.i.material-symbols\:location-on-outline:before {
  content: "\e00e";
}

.i.material-symbols\:playlist-add-check-circle-rounded:before {
  content: "\e00f";
}

.i.material-symbols\:search:before {
  content: "\e010";
}

.i.material-symbols\:search-rounded:before {
  content: "\e011";
}

.i.mdi\:file-document:before {
  content: "\e012";
}

.i.mdi\:minus-circle:before {
content: "\e013";
}

