* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 12vw;
    background-color: #0097ff;
    color: white;
    font-size: 4.5vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

header i{
    width: 42%;
    box-sizing: border-box;
    padding: 4vw;
}

header p{
    width: 58%;
}

.logo {
    width: 100%;
    height: 35vw;
    margin-top: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 30vw;
    width: 32vw;
    border-radius: 5px;
}

.business-info {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.business-info h1 {
    font-size: 5vw;
}

.business-info p {
    font-size: 3vw;
    color: #666;
    margin-top: 1vw;
}

.food {
    width: 100%;
    margin-bottom: 14vw;
}

.food li {
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-left {
    display: flex;
    align-items: center;
}

.food-left img {
    width: 20vw;
    height: 20vw;
}

.food-left-info {
    margin-left: 3vw;
}

.food-left-info h3 {
    font-size: 3.8vw;
    color: #555;
}

.food-left-info p {
    font-size: 3vw;
    color: #888;
    margin-top: 2vw;
}

.food-right {
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-right i.mdi\:minus-circle {
    font-size: 5vw;
    vertical-align: -0.8vw;
    color: #999;
    cursor: pointer;
}

.food-right p {
    font-size: 3.8vw;
    margin: 0 4px;
    color: #333;
}

.food-right i.material-symbols\:add-circle {
    font-size: 5vw;
    vertical-align: -0.8vw;
    color: #0097ef;
    cursor: pointer;
}

.cart {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 14vw;
    display: flex;
}

.cart .cart-left {
    flex: 2;
    background-color: #505051;
    display: flex;
}

.cart .cart-left .cart-left-icon {
    width: 16vw;
    height: 16vw;
    box-sizing: border-box;
    border: solid 1.6vw #444;
    border-radius: 8vw;
    background-color: #3190e8;
    font-size: 7vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.3vw;
    margin-left: 3vw;
    position: relative;
}

.cart-left-icon .cart-left-icon-quantity {
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    background-color: red;
    color: #fff;
    display: flex;
    font-size: 3.6vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.5vw;
    right: -1.5vw;
}

.cart-left .cart-left-info p {
    font-size: 4.5vw;
    color: #fff;
    margin-top: 1vw;
}

.cart-left .cart-left-info p:last-child {
    font-size: 2.8vw;
    color: #AAA;
}

.cart .cart-right {
    flex: 1;
}

.cart-right .cart-right-item {
    width: 100%;
    height: 100%;
    background-color: #38ca73;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cart-right .cart-right-item {
    width: 100%;
    height: 100%;
    background-color: #535356;
    color: #fff;
    font-size: 4.5vw;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} */