*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.footer {
    border-top: 1px solid #DDD;
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #999;
}

.footer div{
    cursor: pointer;
    user-select: none;
    font-size: 3.8vw;
}

.footer div i {
    font-size: 8vw;
    display: block;
}

header {
    width: 100%;
    height: 12vw;
    background-color: #0097ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.wrapper .business{
    width: 100%;
    margin-top: 12vw;
}

.wrapper .business li{
    font-size: 3.5vw;
    display: flex;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;
    border-bottom: solid 1px #DDD;
}   

.wrapper .business li:hover{
    background-color: #DDD;
    transition: 0.2s;
}

.wrapper .business img{
    width:  19vw;
    height: 19vw;
}

.business-img{
    position: relative;
}

.business-img .business-img-quantity{
    width: 5vw;
    height: 5vw;
    background-color: red;
    color: #fff;
    font-size: 3.6vw;
    border-radius: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -1.5vw;
    top: -1.5vw ;
}

.business-info{
    width: 100%;
    box-sizing: border-box;
    padding-left: 3vw;
}

.business-info-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4vw;
    margin-bottom: 1.8vw;
}