* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 12vw;
    background-color: #0097ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    position: fixed;
    top: 0;
    left: 0;
}

.form-box{
    width: 100%;
    margin-top: 12vw;
}   

.form-box li{
    box-sizing: border-box;
    padding: 4vw 3vw 0 3vw;
    display: flex;
    align-items: center;
}

.title{
    flex: 0 0 18vw;
    font-size: 3vw;
    font-weight: 700;
    color: #666;
}

.content{
    flex: 1;
}

.content input{
    border: none;
    outline: none;
    width: 100%;
    height: 4vw;
    font-size: 3vw;
}

.button-register{
    width: 100%;
    box-sizing: border-box;
    padding: 4vw 3vw 0 3vw;
}

.button-register button{
    width: 100%;
    height: 10vw;
    font-size: 3.8vw;
    font-weight: 700;
    color: #fff;
    background-color: #38ca73;
    border-radius: 4px;
    outline: none;
    border: none;
}

#radio{
    font-size: 3vw;
}

.contentBox{
    display: flex;
    margin: 1vw;
}

.contentBox .radio-text{
    width: 6vw;
    height: 3.5vw;
}

